In [2]:
import pandas as pd

df = pd.read_csv('Crop_recommendation.csv')
df.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [6]:
l = df['label'].unique()
print(l)
# OR
unique = set(df['label'])
print(unique)

values = df['label'].value_counts()
print(values)

['rice' 'maize' 'chickpea' 'kidneybeans' 'pigeonpeas' 'mothbeans'
 'mungbean' 'blackgram' 'lentil' 'pomegranate' 'banana' 'mango' 'grapes'
 'watermelon' 'muskmelon' 'apple' 'orange' 'papaya' 'coconut' 'cotton'
 'jute' 'coffee']
{'banana', 'chickpea', 'grapes', 'pomegranate', 'papaya', 'lentil', 'coffee', 'kidneybeans', 'rice', 'apple', 'muskmelon', 'maize', 'pigeonpeas', 'jute', 'blackgram', 'mothbeans', 'coconut', 'orange', 'cotton', 'mungbean', 'mango', 'watermelon'}
label
rice           100
maize          100
jute           100
cotton         100
coconut        100
papaya         100
orange         100
apple          100
muskmelon      100
watermelon     100
grapes         100
mango          100
banana         100
pomegranate    100
lentil         100
blackgram      100
mungbean       100
mothbeans      100
pigeonpeas     100
kidneybeans    100
chickpea       100
coffee         100
Name: count, dtype: int64

In [11]:
series_type1 = pd.Series(df['label']).value_counts()
series_type2 = df['label'].value_counts()
print(type(series_type1))     # They both are same
print(type(series_type2))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [23]:
print(type(df['rainfall'][0]))
df.iloc[0,0:]

<class 'numpy.float64'>

N                      90
P                      42
K                      43
temperature     20.879744
humidity        82.002744
ph               6.502985
rainfall       202.935536
label                rice
Name: 0, dtype: object

In [30]:
create_data = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': [6, 7, 8, 9, 10]
})
print(create_data)

df.to_csv('Crop_recommendation.csv', index=False)

   A   B
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [32]:
class A:
    def process(self):
        print("A Process")

class B(A):
    pass

class C(A):
    def process(self):
        print("C Process")

class D(B, C):
    pass

d = D()
d.process()

C Process

In [34]:
class A:
    def process(self):
        print("A")

class B(A):
    def process(self):
        print("B")

class C(A, B):
    def process(self):
        print("C")

c = C()
c.process()

TypeError: Cannot create a consistent method resolution
order (MRO) for bases A, B

In [37]:
class A:
    def process(self):
        print("A")

class B(A):
    def process(self):
        print("B")

class C(A):
    def process(self):
        print("C")

class D(B, C):
    pass

d = D()
d.process()

B